## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Clear Skies,Rain
0,0,Kapaa,US,2021-10-13 21:55:32,22.0752,-159.3190,80.11,71,98,3.00,10000,0.14
1,1,Ushuaia,AR,2021-10-13 21:51:39,-54.8000,-68.3000,40.66,81,75,23.02,10000,1.05
2,2,Mar Del Plata,AR,2021-10-13 21:52:27,-38.0023,-57.5575,64.09,62,90,4.00,6000,0.31
3,3,Cape Town,ZA,2021-10-13 21:54:56,-33.9258,18.4232,61.27,86,75,5.99,10000,3.05
4,4,Chuy,UY,2021-10-13 21:55:45,-33.6971,-53.4616,63.57,94,100,6.71,10000,0.96

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Clear Skies,Rain
0,0,Kapaa,US,2021-10-13 21:55:32,22.0752,-159.3190,80.11,71,98,3.00,10000,0.14
8,8,Hilo,US,2021-10-13 21:56:21,19.7297,-155.0900,87.28,95,100,1.01,10000,2.03
10,10,Bengkulu,ID,2021-10-13 21:56:24,-3.8004,102.2655,75.33,92,100,3.38,10000,0.46
12,12,Faanui,PF,2021-10-13 21:56:31,-16.4833,-151.7500,78.98,77,100,5.88,10000,0.47
14,14,Port-Gentil,GA,2021-10-13 21:56:39,-0.7193,8.7815,78.76,89,90,9.22,10000,2.21
15,15,Sabang,ID,2021-10-13 21:56:40,5.8933,95.3214,81.81,79,99,25.39,10000,0.29
16,16,Anau,PF,2021-10-13 21:56:41,-16.5167,-151.7333,78.98,77,100,6.04,10000,0.44
18,18,Dicabisagan,PH,2021-10-13 21:56:43,17.0818,122.4157,78.39,90,100,1.90,10000,5.65
23,23,Wamba,NG,2021-10-13 21:57:03,8.9333,8.6000,75.00,86,3,1.79,10000,0.13
25,25,Sulangan,PH,2021-10-13 21:57:18,11.1373,123.7228,82.90,75,100,3.62,10000,2.59

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        19
City           19
Country        19
Date           19
Lat            19
Lng            19
Max Temp       19
Humidity       19
Cloudiness     19
Wind Speed     19
Clear Skies    19
Rain           19
dtype: int64

In [20]:
preferred_cities_df.notnull()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Clear Skies,Rain
0,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True,True,True,True,True,True
40,True,True,True,True,True,True,True,True,True,True,True,True
41,True,True,True,True,True,True,True,True,True,True,True,True
43,True,True,True,True,True,True,True,True,True,True,True,True
44,True,True,True,True,True,True,True,True,True,True,True,True
46,True,True,True,True,True,True,True,True,True,True,True,True

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

KeyError: "['Current Description'] not in index"

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

NameError: name 'clean_df' is not defined

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure