## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
print(g_key)

AIzaSyCGroy3SESm_yODpvCCsLrodctHxhMi2gg

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,19.7297,-155.0900,80.80,light rain,79,90,3.44
1,1,Boyuibe,BO,-20.4167,-63.2833,75.11,overcast clouds,48,99,7.43
2,2,Jinchang,CN,38.4953,102.1739,45.07,overcast clouds,36,100,3.56
3,3,Coahuayana,MX,18.7333,-103.6833,89.08,clear sky,66,6,6.04
4,4,Leningradskiy,RU,69.3833,178.4167,8.29,overcast clouds,88,100,4.16

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,19.7297,-155.0900,80.80,light rain,79,90,3.44
1,1,Boyuibe,BO,-20.4167,-63.2833,75.11,overcast clouds,48,99,7.43
3,3,Coahuayana,MX,18.7333,-103.6833,89.08,clear sky,66,6,6.04
5,5,Portland,US,45.5234,-122.6762,60.89,broken clouds,64,75,1.99
7,7,Isangel,VU,-19.5500,169.2667,80.71,overcast clouds,78,90,5.75
...,...,...,...,...,...,...,...,...,...,...
731,731,Manali,IN,28.1667,94.7667,71.46,overcast clouds,95,100,1.16
732,732,Mrirt,MA,35.1740,-2.9287,66.45,clear sky,88,0,1.14
733,733,Borba,BR,-30.1811,-50.2056,60.93,scattered clouds,74,50,7.56
734,734,Montenegro,BR,-30.1811,-50.2056,60.93,scattered clouds,74,50,7.56
737,737,Namatanai,PG,-2.0226,147.2712,84.72,scattered clouds,70,41,10.65

In [6]:
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
preferred_cities_df.count()

514

City_ID                514
City                   514
Country                510
Lat                    514
Lng                    514
Max Temp               514
Current Description    514
Humidity               514
Cloudiness             514
Wind Speed             514
dtype: int64

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                514
City                   514
Country                510
Lat                    514
Lng                    514
Max Temp               514
Current Description    514
Humidity               514
Cloudiness             514
Wind Speed             514
dtype: int64

In [8]:
preferred_cities_df.notnull()

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
731,True,True,True,True,True,True,True,True,True,True
732,True,True,True,True,True,True,True,True,True,True
733,True,True,True,True,True,True,True,True,True,True
734,True,True,True,True,True,True,True,True,True,True
737,True,True,True,True,True,True,True,True,True,True

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,80.80,light rain,19.7297,-155.0900,
1,Boyuibe,BO,75.11,overcast clouds,-20.4167,-63.2833,
3,Coahuayana,MX,89.08,clear sky,18.7333,-103.6833,
5,Portland,US,60.89,broken clouds,45.5234,-122.6762,
7,Isangel,VU,80.71,overcast clouds,-19.5500,169.2667,
9,Hasaki,JP,55.80,light rain,35.7333,140.8333,
13,Cape Town,ZA,59.41,clear sky,-33.9258,18.4232,
14,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
15,Flinders,US,60.89,broken clouds,45.5234,-122.6762,
16,New Norfolk,US,60.89,broken clouds,45.5234,-122.6762,

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,80.80,light rain,19.7297,-155.0900,
1,Boyuibe,BO,75.11,overcast clouds,-20.4167,-63.2833,
3,Coahuayana,MX,89.08,clear sky,18.7333,-103.6833,
5,Portland,US,60.89,broken clouds,45.5234,-122.6762,
7,Isangel,VU,80.71,overcast clouds,-19.5500,169.2667,
9,Hasaki,JP,55.80,light rain,35.7333,140.8333,
13,Cape Town,ZA,59.41,clear sky,-33.9258,18.4232,
14,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
15,Flinders,US,60.89,broken clouds,45.5234,-122.6762,
16,New Norfolk,US,60.89,broken clouds,45.5234,-122.6762,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first h0o0t0e0l from the results and store the name, if a hotel isn't found skip the city.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (KeyError, IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,80.80,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,Boyuibe,BO,75.11,overcast clouds,-20.4167,-63.2833,Residencial Eluzai
3,Coahuayana,MX,89.08,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
5,Portland,US,60.89,broken clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
7,Isangel,VU,80.71,overcast clouds,-19.5500,169.2667,Tanna Lodge
9,Hasaki,JP,55.80,light rain,35.7333,140.8333,Hotel Sunrise Choshi
13,Cape Town,ZA,59.41,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
14,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
15,Flinders,US,60.89,broken clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
16,New Norfolk,US,60.89,broken clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))