## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
print(g_key)

AIzaSyCGroy3SESm_yODpvCCsLrodctHxhMi2gg

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Clear Skies,Rain
0,0,Avarua,CK,2021-10-14 19:25:16,-21.2078,-159.7750,77.05,light rain,73,87,2.30,10000,0.10
1,1,Kapaa,US,2021-10-14 19:25:15,22.0752,-159.3190,80.58,light rain,74,40,5.99,10000,0.11
2,2,Gresham,US,2021-10-14 19:27:12,45.4982,-122.4315,54.84,light rain,94,90,5.75,4828,0.32
3,3,Buala,SB,2021-10-14 19:22:09,-8.1450,159.5921,79.93,light rain,80,26,2.13,10000,0.35
4,4,Svecha,RU,2021-10-14 19:27:17,58.2785,47.5164,46.98,light rain,39,100,11.21,10000,0.21

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Clear Skies,Rain
0,0,Avarua,CK,2021-10-14 19:25:16,-21.2078,-159.7750,77.05,light rain,73,87,2.30,10000,0.10
1,1,Kapaa,US,2021-10-14 19:25:15,22.0752,-159.3190,80.58,light rain,74,40,5.99,10000,0.11
3,3,Buala,SB,2021-10-14 19:22:09,-8.1450,159.5921,79.93,light rain,80,26,2.13,10000,0.35
6,6,Atuona,PF,2021-10-14 19:24:55,-9.8000,-139.0333,76.98,light rain,80,18,15.28,10000,0.25
9,9,Wenling,CN,2021-10-14 19:27:41,28.3669,121.3600,75.90,light rain,91,69,4.50,10000,0.15
13,13,Pangkalanbuun,ID,2021-10-14 19:27:48,-2.6833,111.6167,75.47,moderate rain,97,96,1.74,10000,1.14
18,18,Gizo,SB,2021-10-14 19:25:12,-8.1030,156.8419,82.24,light rain,74,91,4.45,10000,0.13
21,21,Mattru,SL,2021-10-14 19:22:06,7.6244,-11.8332,76.71,moderate rain,92,41,5.08,10000,3.22
26,26,La Concordia,NI,2021-10-14 19:28:33,13.1953,-86.1667,89.11,light rain,78,100,1.39,5581,0.36
27,27,Kokopo,PG,2021-10-14 19:28:36,-4.3520,152.2633,77.74,light rain,84,32,2.48,10000,0.32

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                16
City                   16
Country                16
Date                   16
Lat                    16
Lng                    16
Max Temp               16
Current Description    16
Humidity               16
Cloudiness             16
Wind Speed             16
Clear Skies            16
Rain                   16
dtype: int64

In [7]:
preferred_cities_df.notnull()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Clear Skies,Rain
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,True,True,True
40,True,True,True,True,True,True,True,True,True,True,True,True,True
43,True,True,True,True,True,True,True,True,True,True,True,True,True
45,True,True,True,True,True,True,True,True,True,True,True,True,True
48,True,True,True,True,True,True,True,True,True,True,True,True,True
49,True,True,True,True,True,True,True,True,True,True,True,True,True
50,True,True,True,True,True,True,True,True,True,True,True,True,True

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,77.05,light rain,-21.2078,-159.7750,
1,Kapaa,US,80.58,light rain,22.0752,-159.3190,
3,Buala,SB,79.93,light rain,-8.1450,159.5921,
6,Atuona,PF,76.98,light rain,-9.8000,-139.0333,
9,Wenling,CN,75.90,light rain,28.3669,121.3600,
13,Pangkalanbuun,ID,75.47,moderate rain,-2.6833,111.6167,
18,Gizo,SB,82.24,light rain,-8.1030,156.8419,
21,Mattru,SL,76.71,moderate rain,7.6244,-11.8332,
26,La Concordia,NI,89.11,light rain,13.1953,-86.1667,
27,Kokopo,PG,77.74,light rain,-4.3520,152.2633,

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,77.05,light rain,-21.2078,-159.7750,
1,Kapaa,US,80.58,light rain,22.0752,-159.3190,
3,Buala,SB,79.93,light rain,-8.1450,159.5921,
6,Atuona,PF,76.98,light rain,-9.8000,-139.0333,
9,Wenling,CN,75.90,light rain,28.3669,121.3600,
13,Pangkalanbuun,ID,75.47,moderate rain,-2.6833,111.6167,
18,Gizo,SB,82.24,light rain,-8.1030,156.8419,
21,Mattru,SL,76.71,moderate rain,7.6244,-11.8332,
26,La Concordia,NI,89.11,light rain,13.1953,-86.1667,
27,Kokopo,PG,77.74,light rain,-4.3520,152.2633,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (KeyError, IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,77.05,light rain,-21.2078,-159.7750,Paradise Inn
1,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Buala,SB,79.93,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
6,Atuona,PF,76.98,light rain,-9.8000,-139.0333,Villa Enata
9,Wenling,CN,75.90,light rain,28.3669,121.3600,Hanting Express Wenling Wanchang North Road
13,Pangkalanbuun,ID,75.47,moderate rain,-2.6833,111.6167,Grand Kecubung Hotel
18,Gizo,SB,82.24,light rain,-8.1030,156.8419,Imagination Island
21,Mattru,SL,76.71,moderate rain,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
26,La Concordia,NI,89.11,light rain,13.1953,-86.1667,Parque de Ferias
27,Kokopo,PG,77.74,light rain,-4.3520,152.2633,Kokopo Beach Bungalow Resort

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))